<div class="resource-library">

    <div class="title-container">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h3 id="title">
                        <t>training_library</t>
                    </h3>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">

        <br />
        <div class="row">

            <div class="col-sm-4">
                <p>
                    <a ng-if="current.UserAuthorization.IsAdmin" ui-sref="resource-library-add-res" ng-click="current.EditResource = 0" class="btn btn-primary">
                        <t>add_new_resource</t>
                    </a>
                </p>

            </div>

        </div>

        <h3 class="selectedCategory">{{selectedCategory}}</h3>

        <div class="row">
            <div ng-repeat="r in resources | filter: filterByCategory" class="resource col-xs-12 col-sm-6 col-lg-3">
        		<div class="thumbnail-container">
            		<img class="thumbnail" src="//{{host}}{{r.thumbnail}}">
            	</div>
            	<div class="details">
	                <h3 class="title">{{r.title}}</h3>
	                <span class="description">{{r.description}}</span>
	                <div class="actions">
		                <a ng-if="r.type==='file'" href="//{{host}}{{r.url}}" class="action download" >download</a>
		                <a ng-if="r.type==='url'" href="{{r.url}}" class="action download" >download</a>
		                <span class="action edit" ng-click="editResource(r._id)">edit</span>
		                <span class="action delete" ng-click="deleteResource(r._id)"><i class="ico ico-trash"></i></span>
		            </div>
	            </div>
            </div>
        </div>
    </div>
</div>
