<div class="col-xs-12 padding0">
    <div class="">
        <legend>
            <h2>
                <t>Add Resource</t>
            </h2>
        </legend>

        <div class="row form-group">
            <div class="col-lg-2 col-lg-offset-1">
                <t>addResource_title</t>
                :
            </div>
            <div class="col-lg-5 col-lg-offset-1">
                <input type="text" class="form-control" ng-model="uploadDetails.title" placeholder="Resource Title">
            </div>
        </div>
        <div class="row form-group">
            <div class="col-lg-2 col-lg-offset-1">
                <t>addResource_description</t>
                :
            </div>
            <div class="col-lg-5 col-lg-offset-1">
                <textarea class="form-control" ng-model="uploadDetails.description" cols="20" rows="4" placeholder="Add Descrption Here.. "></textarea>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-lg-2 col-lg-offset-1">
                <t>category</t>
                :
            </div>
            <div class="col-lg-5 col-lg-offset-1">
            	<input type="radio" ng-model="options.category" value="select_category"> <t>select_category</t>
                <input type="radio" ng-model="options.category" value="new_category"> <t>new_category</t>
            </div>
        </div>

        <div class="row form-group" ng-show="options.category==='new_category'">
            <div class="col-lg-2 col-lg-offset-1">
                <t>category</t>
                :
            </div>
            <div class="col-lg-5 col-lg-offset-1">
                <input type="text" class="form-control" ng-model="uploadDetails.category" placeholder="category">
            </div>
        </div>

        <div class="row form-group" ng-show="options.category==='select_category'">
            <div class="col-lg-2 col-lg-offset-1">
                <t>select_category</t>
                :
            </div>
            <div class="col-lg-5 col-lg-offset-1">
            	<select ng-model="uploadDetails.category" ng-options="c for c in categories"></select>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-lg-2 col-lg-offset-1">
                <t>select_file_type</t>
                :
            </div>
            <div class="col-lg-5 col-lg-offset-1">
            	<input type="radio" ng-model="options.type" value="url"> <t>url</t>
            	<input type="radio" ng-model="options.type" value="file"> <t>file</t>
            </div>
        </div>
        

        <div class="row form-group" ng-show="options.type === 'url'">
            <div class="col-lg-2 col-lg-offset-1">
                <t>url</t>
                :
            </div>
            <div class="col-lg-5 col-lg-offset-1">
                <input type="text" class="form-control" ng-model="uploadDetails.url" placeholder="Resource Title">
            </div>
        </div>

        <div class="row form-group" ng-show="options.type === 'file'">
            <div class="col-lg-2 col-lg-offset-1">
                <t>file</t>
                :
            </div>
            <div class="col-lg-5 col-lg-offset-1">
                <input id="uploadFile" type="file" name="theFileToUpload"/>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-lg-2 col-lg-offset-1">
                <t>thumbnail</t>
                :
            </div>
            <div class="col-lg-5 col-lg-offset-1">
                <input id="thumbnail" type="file"/>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-lg-2 col-lg-offset-1">
                <t>upload</t>
                :
            </div>
            <div class="col-lg-5 col-lg-offset-1">
                <span class="btn primary" ng-click="upload()"><span ng-show="options.type === 'url'"><t>upload</t></span><span ng-show="options.type === 'file'"><t>upload file</t></span></span>
                <a class="btn secondary" ui-sref="resource-library"><t>cancel</t></a>
            </div>
        </div>
        
        <div ng-repeat="f in feedback"><t>{{f}}</t></div>

    </div>
</div>